*,
*::before,
*::after {
  box-sizing: border-box;
  max-width: 70ch;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

*::before,
*::after,
body,
html,
div,
header,
nav,
main,
section,
article,
table,
caption,
svg,
footer {
  max-width: none;
}

* + * {
  margin-top: 2.25rem;
}

aside {
  margin-top: 4.5rem;
}

h1 + *,
h2 + *,
h3 + *,
h4 + * {
  margin-top: 1rem;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-bottom: 2.25rem;
  background: rgb(238,255,244);
  background: linear-gradient(35deg, rgba(238,255,244,0.4) 0%, rgba(211,248,255,1) 100%);
  color: #4a5568;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.4;
}

[hidden] {
  display: none;
}

[href] {
  font-weight: 600;
  text-decoration-color: #179cb0;
  text-decoration-thickness: 2px;
}

[href]:hover,
[href]:focus {
  color: #08798a;
  text-decoration: none;
}

label {
  font-weight: 600;
}

input[type="text"] {
  width: 25rem;
  max-width: 100%;
  padding: 1rem;
  border-radius: 5px;
          appearance: none;
  -webkit-appearance: none;
     -moz-appearance: none;
  border: 1px solid #e2e8f0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.025);
}

input[type="text"]:focus {
  outline: 5px auto;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

caption {
  padding: 1rem;
}

tbody,
thead {
  margin-top: 0;
}

tr {
  margin-top: 0;
  vertical-align: top;
}

@media only screen and (min-width: 700px) {
  tbody tr:last-child > * {
    border-bottom: none;
  }
}

th,
td {
  margin-top: 0;
  padding: 1rem;
  border-bottom: 1px solid #e2e8f0;
  text-align: left;
}

th {
  font-weight: 600;
}

thead th {
  background-color: #179cb0;
  color: white;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 35%;
}

thead th:nth-child(4) {
  width: 35%;
}

tbody th {
  /* background-color: #f0fff4; */
  color: #08798a;
}

.o-wrapper {
  max-width: 87.5rem; 
  margin-left: auto;
  margin-right: auto;
  padding: 0 4vw;
}

.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.site-header ul {
  margin-left: 1rem;
}

.site-header li {
  margin-top: 0.5rem; 
}

.site-name {
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  line-height: 1;
}

.site-strapline {
  margin-top: 0.75rem;
  max-width: 40ch;
  color: #08798a;
  font-size: 1.5rem;
}

.site-name span {
  color: #179cb0;
}

.search label {
  margin-right: 0.5rem;
}

.search input {
  margin-top: 0.5rem;
}

.results {
  color: #0d6f7d;
}

.table-wrapper {
  overflow: hidden;
  margin-top: 0.75rem;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.025);
}

.show-row { display: table-row; }

.hide-row { display: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.mt-0 {
  margin-top: 0;
}

.rules {
  color: #179cb0;
  font-family: "Playfair Display", serif;
  font-size: 6vw;
  font-weight: 700;
  line-height: 1;
}

@media only screen and (min-width: 87.5rem) {
  .rules {
    font-size: 5.3rem;
  }
}

@media only screen and (max-width: 700px) {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tbody th {
    background-color: #179cb0;
    color: white;
  }

  td { 
    /* Behave  like a "row" */
    position: relative;
    border: none;
    border-bottom: 1px solid #eee; 
  }

  .show-row {
    display: block;
  }

}
