*,
*::before,
*::after {
  box-sizing: border-box;
  max-width: 70ch;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

*::before,
*::after,
body,
html,
div,
header,
nav,
main,
section,
article,
table,
caption,
svg,
footer {
  max-width: none;
}

* + * {
  margin-top: 2.25rem;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: rgb(238,255,244);
  background: linear-gradient(35deg, rgba(238,255,244,0.4) 0%, rgba(211,248,255,1) 100%);
  color: #4a5568;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.3;
}

[hidden] {
  display: none;
}

label {
  font-weight: 600;
}

input[type="text"] {
  min-width: 20rem;
  padding: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.025);
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

caption {
  padding: 1rem;
}

tr {
  margin-top: 0;
  vertical-align: top;
}

tbody tr:last-child > * {
  border-bottom: none;
}

th,
td {
  margin-top: 0;
  padding: 1rem;
  border-bottom: 1px solid #e2e8f0;
  text-align: left;
}

th {
  font-weight: 600;
}

thead th {
  background-color: #179cb0;
  color: white;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 35%;
}

thead th:nth-child(4) {
  width: 35%;
}

tbody th {
  /* background-color: #f0fff4; */
  color: #08798a;
}

@media only screen and (max-width: 760px) {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td { 
    /* Behave  like a "row" */
    position: relative;
    border: none;
    border-bottom: 1px solid #eee; 
  }

}

.o-wrapper {
  max-width: 87.5rem; 
  margin-left: auto;
  margin-right: auto;
  padding: 0 4vw;
}

.site-name {
  font-family: 'Playfair Display', 'serif';
  font-size: 5rem;
  line-height: 1;
}

.site-name span {
  color: #179cb0;
}

.table-wrapper {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.025);
}

.visually-hidden {
 clip-path:inset(50%);
 height:1px;
 overflow:hidden;
 position:absolute;
 white-space:nowrap;
 width:1px
}

.mt-0 {
  margin-top: 0;
}
