<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Cardiff Delivers | Delivery information for Cardiff's food and drink businesses, during the COVID-19 closures.</title>
    <meta name="description" content="See how you can order from your favourite local independent businesses, via a filterable list.">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="/images/favicon/favicon-196x196.png" sizes="196x196">
    <link rel="icon" href="/images/favicon/favicon-16x16.png"  sizes="16x16">
    <link rel="icon" href="/images/favicon/favicon-32x32.png"  sizes="32x32">
    <link rel="icon" href="/images/favicon/favicon-57x57.png"  sizes="57x57">
    <link rel="icon" href="/images/favicon/favicon-76x76.png"  sizes="76x76">
    <link rel="icon" href="/images/favicon/favicon-96x96.png"  sizes="96x96">
    <link rel="icon" href="/images/favicon/favicon-128x128.png" sizes="128x128">
    <link rel="icon" href="/images/favicon/favicon-196x196.png" sizes="196x196">
    <link rel="icon" href="/images/favicon/favicon-228x228.png" sizes="228x228">
    <link rel="apple-touch-icon" href="/images/favicon/favicon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/images/favicon/favicon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/images/favicon/favicon-167x167.png" sizes="167x167">
    <link rel="apple-touch-icon" href="/images/favicon/favicon-180x180.png" sizes="180x180">
    <meta name="msapplication-TileImage" content="/images/favicon/favicon-144x144.png">

    <!-- GOOGLE / SEARCH ENGINE TAGS -->
    <meta itemprop="name" content="Cardiff Delivers | Delivery information for Cardiff's food and drink businesses, during the COVID-19 closures.">
    <meta itemprop="description" content="See how you can order from your favourite local independent businesses, via a filterable list.">
    <meta itemprop="image" content="https://cardiffdelivers.com/images/screenshot.png">

    <!-- FACEBOOK META TAGS -->
    <meta property="og:url" content="https://cardiffdelivers.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cardiff Delivers | Delivery information for Cardiff's food and drink businesses, during the COVID-19 closures.">
    <meta property="og:description" content="See how you can order from your favourite local independent businesses, via a filterable list.">
    <meta property="og:image" content="https://cardiffdelivers.com/images/screenshot.png">

    <!-- TWITTER META TAGS -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Cardiff Delivers | Delivery information for Cardiff's food and drink businesses, during the COVID-19 closures.">
    <meta name="twitter:description" content="See how you can order from your favourite local independent businesses, via a filterable list.">
    <meta name="twitter:image" content="https://cardiffdelivers.com/images/screenshot.png">
    <meta name="twitter:image:alt" content="Cardiff Delivers business listings">

    <!-- DETECT JS -->
    <script>document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>

    {# capture the CSS content as a Nunjucks variable #}
    {% set css %}
    {% include "css/main.css" %}
    {% endset %}

    {# feed it through our cssmin filter to minify #}
    <style>{{ css | cssmin | safe }}</style>
  </head>

  <body>

    <a href="#main">Skip to content</a>

    <header class="[ o-wrapper ] [ site-header ]">

      <div class="site-header__brand">
        <h1 class="site-name"><span>Cardiff</span> Delivers</h1>
        <p class="site-strapline">Local delivery information for Cardiff's food and drink businesses, during the <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/" rel="external">coronavirus <svg class="icon icon--top" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41zM17 14a1 1 0 0 1 2 0v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2h5a1 1 0 0 1 0 2H5v12h12v-5z"/></svg></a> closures.</p>
      </div>

      <div class="[ site-nav ] [ o-flow ]">

        <!-- FUNDRAISER -->
        <div class="[ notification ] [ o-flow ]">
          <p>Support this amazing fundraiser:</p>
          <p>
            <a href="https://www.gofundme.com/f/feeding-nhs-staff-at-uhw-heath-hospital" rel="external">
              Feed NHS staff at UHW
              <svg class="icon icon--top" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41zM17 14a1 1 0 0 1 2 0v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2h5a1 1 0 0 1 0 2H5v12h12v-5z"/></svg>
            </a>
          </p>
        </div>

        <!-- MAIN NAV -->
        <nav>
          <ul class="[ site-nav__list ] [ o-flow ]">
            <li><a href="#vendor">Get your business on this list</a></li>
            <li><a href="#about">About this list</a></li>
            <li class="share">
              Share this page:
              <ul class="list-reset">
                <li>
                  <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fcardiffdelivers.com&text=" aria-labelledby="twitter">
                    <span id="twitter" hidden>Twitter</span>
                    <svg class="icon" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24"><path d="M512 97.2c-19 8.4-39.3 14-60.5 16.6 21.8-13 38.4-33.4 46.2-58a209.8 209.8 0 01-66.6 25.4A105 105 0 00249.5 153c0 8.3.8 16.3 2.5 24A297.1 297.1 0 0135.6 67 105.1 105.1 0 0068 207.4c-16.9-.3-33.4-5.2-47.4-12.9v1.1c0 51 36.4 93.4 84 103.2-8.5 2.3-17.8 3.4-27.4 3.4-6.8 0-13.5-.3-20-1.8a106 106 0 0098.2 73.2A211 211 0 010 416.9 295.5 295.5 0 00161 464c193.2 0 298.8-160 298.8-298.7 0-4.6-.2-9.1-.4-13.6A209.4 209.4 0 00512 97.2z"/></svg>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcardiffdelivers.com" aria-labelledby="facebook">
                    <span id="facebook" hidden>Facebook</span>
                    <svg class="icon" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-21 -21 682.7 682.7" width="24" height="24"><path d="M604.7 0H35.3A35.3 35.3 0 000 35.3v569.4A35.3 35.3 0 0035.3 640H342V392.5h-83.1v-96.9h83v-71.3c0-82.6 50.5-127.6 124.3-127.6 35.3 0 65.7 2.6 74.5 3.8v86.4h-50.8c-40.2 0-48 19-48 47v61.7h96l-12.5 96.9H442V640h162.8a35.3 35.3 0 0035.3-35.3V35.3A35.3 35.3 0 00604.7 0zm0 0"/></svg>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>

      </div>

    </header>

    <main id="main">
      <div class="o-wrapper">
        {% block content %}
        {{ content | safe }}
        {% endblock %} 
      </div><!-- .o-wrapper -->
    </main>

    <aside class="[ o-wrapper ] [ o-flow ]">
      <h2 id="vendor">Get your business on this list</h2>
      <p>It would be great to support as many local businesses as we can through this challenging time. To be added to the list, email Matthew &mdash; <a href="mailto:hello@matthewpassmore.co.uk">hello@matthewpassmore.co.uk</a> &mdash; with details of what you offer, where you deliver to, how people can order, and how best to make contact.</p>
      <h2 id="about">About this list</h2>
      <p>Thank you to <a href="https://twitter.com/ViningSarah">Sarah Vining</a> and <a href="https://wearecardiff.co.uk/2020/03/27/you-can-support-cardiffs-independent-businesses-during-covid-19-coronavirus-shutdown/">We Are Cardiff</a> for their hard work collating information to get things moving. You can view <i>We Are Cardiff</i>'s <a href="https://wearecardiff.co.uk/2020/03/27/you-can-support-cardiffs-independent-businesses-during-covid-19-coronavirus-shutdown/">blog post of listings</a>, or <a href="https://drive.google.com/drive/u/0/folders/1e7-a8KZ0Hg5PSihXrTV-LAjZdANwvqh2">download Sarah's lovely printable versions</a>.</p>
      <p>This is a project by <a href="https://matthewpassmore.co.uk">Matthew Passmore</a>, runs on <a href="https://11ty.dev/">Eleventy</a> and is hosted by <a href="https://netlify.com/">Netlify</a>. </p>

      <div class="share">
        Share this page:
        <ul class="list-reset">
          <li>
            <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fcardiffdelivers.com&text=" aria-labelledby="twitter">
              <span id="twitter" hidden>Twitter</span>
              <svg class="icon" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24"><path d="M512 97.2c-19 8.4-39.3 14-60.5 16.6 21.8-13 38.4-33.4 46.2-58a209.8 209.8 0 01-66.6 25.4A105 105 0 00249.5 153c0 8.3.8 16.3 2.5 24A297.1 297.1 0 0135.6 67 105.1 105.1 0 0068 207.4c-16.9-.3-33.4-5.2-47.4-12.9v1.1c0 51 36.4 93.4 84 103.2-8.5 2.3-17.8 3.4-27.4 3.4-6.8 0-13.5-.3-20-1.8a106 106 0 0098.2 73.2A211 211 0 010 416.9 295.5 295.5 0 00161 464c193.2 0 298.8-160 298.8-298.7 0-4.6-.2-9.1-.4-13.6A209.4 209.4 0 00512 97.2z"/></svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcardiffdelivers.com" aria-labelledby="facebook">
              <span id="facebook" hidden>Facebook</span>
              <svg class="icon" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-21 -21 682.7 682.7" width="24" height="24"><path d="M604.7 0H35.3A35.3 35.3 0 000 35.3v569.4A35.3 35.3 0 0035.3 640H342V392.5h-83.1v-96.9h83v-71.3c0-82.6 50.5-127.6 124.3-127.6 35.3 0 65.7 2.6 74.5 3.8v86.4h-50.8c-40.2 0-48 19-48 47v61.7h96l-12.5 96.9H442V640h162.8a35.3 35.3 0 0035.3-35.3V35.3A35.3 35.3 0 00604.7 0zm0 0"/></svg>
            </a>
          </li>
        </ul>
      </div>

    </aside>

    <footer class="o-wrapper">
      <p class="demands"><strong>Stay at home. Wash your hands.</strong></p>
    </footer>

    <script>{% include 'js/main.js' %}</script>
  </body>
</html>
