<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Cardiff Delivers | Delivery information for Cardiff's food and drink businesses, during the COVID-19 closures.</title>
    <meta name="description" content="See how you can order from your favourite local independent businesses, via a filterable list.">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="/images/favicon/favicon-196x196.png" sizes="196x196">
    <link rel="icon" href="/images/favicon/favicon-16x16.png"  sizes="16x16">
    <link rel="icon" href="/images/favicon/favicon-32x32.png"  sizes="32x32">
    <link rel="icon" href="/images/favicon/favicon-57x57.png"  sizes="57x57">
    <link rel="icon" href="/images/favicon/favicon-76x76.png"  sizes="76x76">
    <link rel="icon" href="/images/favicon/favicon-96x96.png"  sizes="96x96">
    <link rel="icon" href="/images/favicon/favicon-128x128.png" sizes="128x128">
    <link rel="icon" href="/images/favicon/favicon-196x196.png" sizes="196x196">
    <link rel="icon" href="/images/favicon/favicon-228x228.png" sizes="228x228">
    <link rel="apple-touch-icon" href="/images/favicon/favicon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/images/favicon/favicon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/images/favicon/favicon-167x167.png" sizes="167x167">
    <link rel="apple-touch-icon" href="/images/favicon/favicon-180x180.png" sizes="180x180">
    <meta name="msapplication-TileImage" content="/images/favicon/favicon-144x144.png">


    <!-- PERFORMANCE OPTIMISATIONS -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>


    <!-- GOOGLE / SEARCH ENGINE TAGS -->
    <meta itemprop="name" content="Cardiff Delivers | Delivery information for Cardiff's food and drink businesses, during the COVID-19 closures.">
    <meta itemprop="description" content="See how you can order from your favourite local independent businesses, via a filterable list.">
    <meta itemprop="image" content="/images/screenshot.png">

    <!-- FACEBOOK META TAGS -->
    <meta property="og:url" content="https://cardiffdelivers.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cardiff Delivers | Delivery information for Cardiff's food and drink businesses, during the COVID-19 closures.">
    <meta property="og:description" content="See how you can order from your favourite local independent businesses, via a filterable list.">
    <meta property="og:image" content="/images/screenshot.png">

    <!-- TWITTER META TAGS -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Cardiff Delivers | Delivery information for Cardiff's food and drink businesses, during the COVID-19 closures.">
    <meta name="twitter:description" content="See how you can order from your favourite local independent businesses, via a filterable list.">
    <meta name="twitter:image" content="/images/screenshot.png">

    <!-- DETECT JS -->
    <script>document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>
    <link
    href="https://fonts.googleapis.com/css?family=Playfair+Display:700&text=CardiffDeliversStayathomeWashyourhands&display=swap" rel="stylesheet">

    {# capture the CSS content as a Nunjucks variable #}
    {% set css %}
    {% include "css/main.css" %}
    {% endset %}

    {# feed it through our cssmin filter to minify #}
    <style>{{ css | cssmin | safe }}</style>
  </head>

  <body>

    <header class="[ o-wrapper ] [ site-header ]">
      <div>
        <h1 class="site-name"><span>Cardiff</span> Delivers</h1>
        <p class="site-strapline">Local delivery information for Cardiff's food and drink businesses, during the <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">Coronavirus (COVID-19)</a> closures.</p>
      </div>
      <nav>
        <ul>
          <li><a href="#vendor">Get your business on this list</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="o-wrapper">
        {% block content %}
        {{ content | safe }}
        {% endblock %} 
      </div><!-- .o-wrapper -->
    </main>

    <aside class="o-wrapper">
      <h2 id="vendor">Get your business on this list</h2>
      <p>It would be great to support as many local businesses as we can through this challenging time. To be added to the list, email Matthew &mdash; <a href="mailto:hello@matthewpassmore.co.uk">hello@matthewpassmore.co.uk</a> &mdash; with details of how people can order from you.</p>
    </aside>

    <footer class="o-wrapper">
      <p class="rules"><strong>Stay at home. Wash your hands.</strong></p>
    </footer>

    <script>{% include 'js/main.js' %}</script>
  </body>
</html>
