---
layout: layouts/base.njk
---

<div class="search">
  <label for="search">Filter listings (<b class="results" id="count">{{ sheet.content.length }}</b>):</label>
  <input type="text" id="search" data-table=".listings" data-count="#count" placeholder="e.g. Calabrisella / pizza / pasta">
</div>


<h2 class="sr-only">Listings</h2>
<ul class="[ listings ] [ max-w-none ]" id="listings">
    {% for item in sheet.content %}
    <li class="[ listing ] [ max-w-none ]">
      {% include('partials/listing.njk') %}
    </li>
    {% endfor %}
</ul>
