---
layout: layouts/base.njk
---

<div class="search">
  <label for="search">Filter listings:</label>
  <input type="text" id="search" data-table=".listings" data-count="#count" placeholder="e.g. Calabrisella / pizza / delivery">
</div>
<p class="results">Results: <b id="count">{{ sheet.West.length }}</b></p>

<div class="table-wrapper">
  <table class="listings" id="listings">
    <caption class="visually-hidden">Cardiff restaurant takeaway options during Corona lockdown</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Tags</th>
        <th scope="col">Notes</th>
        <th scope="col">Contact</th>
      </tr>
    </thead>
    <tbody>
      {% for item in sheet.West %}
      <tr>
        <th scope="row">{{ item.name }}</th>
        <td>{{ item.tags }}</td>
        <td>{{ item.notes }}</td>
        <td>{{ item.contact }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div><!-- .table-wrapper -->

