---
layout: layouts/base.njk
---

<div class="search">
  <label for="search">Filter listings (<b class="results" id="count">{{ sheet.content.length }}</b>):</label>
  <input type="text" id="search" data-table=".listings" data-count="#count" placeholder="e.g. Calabrisella / pizza / pasta">
</div>


<h2 class="visually-hidden">Listings</h2>
<ul class="[ listings ] [ o-flow ] [ max-w-none ]" id="listings">
    {% for item in sheet.content %}
    <li class="[ card ] [ max-w-none ]">
      {% include('partials/card.njk') %}
    </li>
    {% endfor %}
</ul>
