<article class="card__inner">
  <h3 class="card__name">{{ item.name }}</h3>
  <p class="[ card__tags ] [ mt-0 ]">{{ item.tags }}</p>
  <p class="card__content">{{ item.notes | safe }}</p>
  <p class="card__locality">{{ item.locality }}</p>
  <p class="card__contact">{{ item.contact | safe }}</p>
</article>
