<article class="listing__inner">
  <h2 class="listing__name">{{ item.name }}</h2>
  <p class="listing__tags">{{ item.tags }}</p>
  <p>{{ item.notes | safe }}</p>
  <p class="listing__locality">{{ item.locality }}</p>
  <p class="listing__contact mt-0">{{ item.contact | safe }}</p>
</article>
