<article class="listing__inner">
  <h3 class="listing__name">{{ item.name }}</h3>
  <p class="listing__tags">{{ item.tags }}</p>
  <p>{{ item.notes | safe }}</p>
  <p class="listing__locality">{{ item.locality }}</p>
  <p class="listing__contact">{{ item.contact | safe }}</p>
</article>
